.status {
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: Berlin Sans;
    color: white;
    text-align: center;
    font-size: 30px;
}
.info-tab{
    float: left;
    margin-left: 0px;
    @media screen and (max-width : 991px) {
        float: unset;
        margin-left: unset;
        margin-top: 30px;
    }
}
.Board{
    margin: 70px;
    @media screen and (max-width : 991px) {
        margin: 50px auto;
    }
}
.moves-heading{
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    font-family: Berlin Sans;
    @media screen and (max-width : 991px) {
        font-size: 35px;
    }
}
.reset-button{
    font-family: Berlin Sans;
    font-size: 25px;
    color: white;
    border: 1px solid white;
    padding: 20px 35px;
    background: #ff9000;
    border-radius: 50%;
    margin: 20px auto;
    float: left;
    &:hover,
    &:focus{
        text-decoration: none;
        color: white;
        opacity: 0.5;
    }
    @media screen and (max-width : 991px) {
        float: unset;
        margin-top: 20px;
    }
}